# Byte-code files
*.pyc
__pycache__/

# Virtual environment
.venv/
venv/
*/*.env/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Specific ignores for common tools and OS
.tox/
.mypy_cache/
.pytest_cache/
.vscode/
.idea/
*.log
*.swp
.DS_Store # macOS
npm-debug.log* # npm-debug logs
